@keyframes width {
  from {
    width: 0;
  }
}

.breakdown {
  height: 37px;
  width: 100%;
  border-radius: 37px;
  display: flex;
  overflow: hidden;
  position: relative;
  isolation: isolate;
}

.breakdown > .bar {
  height: 100%;
  /* position: absolute;
  left: 0;
  top: 0;
  bottom: 0; */
  animation-fill-mode: backwards;
  animation-name: width;
  animation-timing-function: ease;
}

.new-work {
  background-color: var(--green);
  width: 40%;
  z-index: 3;
  animation-duration: 500ms;
  animation-delay: 500ms;
}
.rework {
  background-color: var(--cyan);
  z-index: 2;
  animation-duration: 500ms;
  animation-delay: 1000ms;
}
.refactor {
  background-color: var(--nav);
  z-index: 1;
  animation-duration: 500ms;
  animation-delay: 1500ms;
}
.bugs {
  background-color: var(--red);
  animation-duration: 500ms;
  animation-delay: 2000ms;
}
.col {
  margin-top: 24px;
  display: grid;
  gap: 16px;
  
}
